@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

:root {
    --title-height: 100px;
    --controls-height: 150px;
}

body {
    margin: 0;
}

.page-section, .page-section * {
    box-sizing: border-box;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--title-height);
    width: 100vw;
    font-size: 5em;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - var(--title-height) - var(--controls-height));
    position: absolute;
    top: var(--title-height);
    width: 100vw;
    padding: 0px 30px 0px 30px;
}

#display {
    flex-grow: 1;
    text-align: center;
    height: 100%;
    border: 3px black solid;
    
}

.player-text {
    width: 200px;
    height: 175px;
    border: 3px black solid;
    padding: 10px;
}

#left-box {
    border-right: none;
}

#right-box {
    border-left: none;
}

#controls {
    height: var(--controls-height);
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#intro {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 3;
    text-align: center;
}

#intro iframe {
    border: none;
    width: 100vw;
    height: calc(100vh - 100px);
    margin: 0;
}

#intro button {
    box-sizing: border-box;
    height: 50px;
    width: calc(100vw - 100px);
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    border: 3px solid white;
    background-color: black;
    color: white;
    transition: background-color .5s, color .5s, border-width .5s, opacity 1s;
}

#intro button.hide {
    opacity: 0;
}

#intro button:hover {
    color: black;
    background-color: white;
    border-width: 8px;
}